@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
   background-color: #1F2937;
   color: #f9faf8;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
nav{
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 1%;

}
nav .logo{
    font-weight: bolder;
    font-size: 24px;
}

nav ul{
    display: inline-flex;
    list-style-type: none;
    padding-right: 10px;
}
nav ul li{
    margin-left: 8%;
}
.hero{
    width: 85%;
    padding: 2% 1%;
    display: flex;
}
.hero img{
    width: 30%;
    object-fit: contain;
}
.hero h1, .hero p{
    width: 55%;
    margin: 5px;
}
.hero h1{
    font-size: 48px;
}
.hero button{
    background-color: #3882f6;
    padding: 10px;
    color: #f9faf8;
    border-radius: 5px;
    margin: 10px;
    border: none;

}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main h3{
    margin: 2% 0;
    font-size: 36px;
    color: #1F2937;
}
figure{
    display: flex;
    padding: 2% 10%;
    justify-content: center;
    align-items: center;
}
figure div{
    width: 18%;
    margin: 10px;
}
figure img{
    width: 95%;
    border-radius: 10px;
}


.text{
    width: 100%;
    padding: 10%;
    margin: 5%;
    font-style: italic;
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
}
.text span{
    font-weight: bold;
    font-size: 28px;
    margin: 10px;
}
.call-to-action{
    background-color: #3882f6;
    color: white;
    width: 75%;
    padding: 3%;
    margin: 4%;
    border-radius: 10px;
}
.call-to-action button{
    border: 2px solid white;
    background-color: #3882f6;
    padding: 1%;
    color: white;
    border-radius: 10px;
    margin: 10px;
}
footer{
    background-color: #1F2937;
    color: white;
    padding: 5%;
    text-align: center;
}

@media (max-width : 700px) {
    figure{
        flex-direction: column;
    }
    figure div {
        width: 90%;
    }
    
}